.header-slider {
  position: relative;
  overflow: hidden;
  height: 34vw;
  margin: 30px auto;
  border-radius: 20px;
}

.slider-track {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  color: white;
  z-index: 2;
}

.header-contents h2 {
  font-weight: 500;
  font-size: max(4.5vw, 22px);
}

.header-contents p {
  font-size: 1vw;
}

.header-contents button {
  border: none;
  color: #FF0000;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
}

.header-contents button:hover {
  background-color: #FF0000;
  color: white;
}

@media (max-width: 1050px) {
  .header-contents {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .header-contents {
    max-width: 65%;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
}
